<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Document</title>
</head>
<body>
    <section >
        <h1 style="background-color: aqua;">Celulares</h1>

        <% celulares.forEach(({name,id,img})=> { %>
            <article class="index__products__product">
                <a href="/products/detail/<%= id %>"><img height="220px" src="/images/<%= img[0] %>" alt=""></a>
                <h4>
                    <%= name %>
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde harum doloribus
                    ipsa
                    praesentium?</p>
                    <a href="/products/detail/<%= id %>">VER MAS</a>
            </article>
            <% }) %>
    </section>

    <section>
        <h1 style="background-color: aqua;">Tablets</h1>

        <% tablets.forEach(({name,id,img})=> { %>
            <article class="index__products__product">
                <a href="/products/detail/<%= id %>"><img height="220px" src="/images/<%= img[0] %>" alt=""></a>
                <h4>
                    <%= name %>
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde harum
                    doloribus ipsa
                    praesentium?</p>
                <a href="#" class="index__products__product__more">VER MÁS</a>
            </article>
            <% }) %>
    </section>

    <section>
        <h1 style="background-color: aqua;">Computadoras</h4>

        <% computadoras.forEach(({name,id,img})=> { %>
            <article class="index__products__product">
                <a href="/products/detail/<%= id %>"><img src="/images/<%= img[0] %>" alt=""></a>
                <h4>
                    <%= name %>
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde
                    harum doloribus ipsa
                    praesentium?</p>
                <a href="#" class="index__products__product__more">VER MÁS</a>
            </article>
            <% }) %>
    </section>
</body>
</html>