<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Document</title>
</head>
<body>
    <header >
        <nav class="nav">
            <a href="/products/category/1">celulares</a>
            <a href="/products/category/2">tablets</a>
            <a href="/products/category/3">computadoras</a>
        </nav>
        <form action="/products/search" method="GET" class="buscador">
            <input type="text" name="keyword" placeholder="Buscar producto">
            <button type="submit">Buscar</button>
        </form>
    </header>
    <article>
        
        <div>
            <img style="width: 33.3%;" src="/images/<%= product.img %>" alt="...">
            <h4> <%= product.name %> </h4>
            <p><%= product.price %></p>
            <p><%= product.features%></p>
            <a href="/products/edit/<%= product.id %>">Editar producto</a>
            <form action="/products/remove/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit">Eliminar</button>
            </form>
        </div>
    </article>
</body>
</html>